<body>


  <div class="flash-notifications">
  　<% flash.each do |key, value| %>
   　<%= content_tag(:div,'Book was successfully created.', class: notice) %>
  　<% end %>
　</div>

  <p>
    <strong>Title</strong>
    <%= @book.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= @book.body %>
  </p>

  <%= link_to "Edit", edit_book_path(@book.id) %>

  <text>|</text>

  <a href ="/books">Back</a>

</body>
